.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 25px;
    margin: 4rem auto;
  }
  
  .post-list__item {
    transition: .4s;
    width: 100%;
    margin-bottom: 4rem;
    position: relative;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
  }

  .post-list__item:hover {
    transition: .4s;
    transform: scale(1.025);
  }
  
  .post-list__image {
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .post-list__content{
    display: flex;
    flex-direction: column;
  }

  .post-list__text{
    padding: 1rem;
  }

  .post-list__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: var(--primary-color);
  }

  .post-list__title h2{
    margin: 0;
  }

  .post-list__title h2::first-letter, .post-list__excerpt::first-letter{
    text-transform: uppercase;
  }
  
  .post-list__excerpt {
    color: var(--text-color);
    opacity: 0.4;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .post-list__button{
    position: absolute;
    right: 0px;
    bottom:0px;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem 0 0 0;
    font-size: var(--font-size-default);
    color: var(--white);
    background: var(--primary-color);
    text-decoration: none;
    border: solid 2px var(--primary-color);
  }

  .post-list__button::after{
    content:"\2192";
    margin-left: 5px;
  }

  .post-list__button:hover{
    transition: .4s;
    color: var(--primary-color);
    background: var(--white);
    font-weight: bold;
  }
  
  .post-list__show-more-container{
    margin: 0 auto;
  }

  .post-list__show-more{
    background: var(--primary-color);
    color: var(--white);
    border: solid 1px var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
  }

  .post-list__show-more:hover{
    transition: .4s;
    cursor: pointer;
    background: var(--white);
    color: var(--primary-color);
  }

  @media screen and (min-width: 768px) {
    .post-list__item {
      width: calc(50% - 1rem);
    }
  }

  @media screen and (min-width: 992px) {
    .post-list{
      padding: 0 5px;
    }
    .post-list__item {
      width: calc(33.33% - 1rem);
    }
    .post-list__image {
        height: 250px;
    }
  }

  .Loading{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    animation: spin 1s linear infinite;
    font-size: 3rem;
    color: var(--primary-color);
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }