@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@500&display=swap');

:root {
  /* Define as cores principais da aplicação */
  --primary-color: #0d47a1;
  --secondary-color: #00A7E1;
  --tertiary-color: #032c6b;
  --text-color: #03142c;

  /*Cores neutras*/
  --white: #fff;


  --title-font-family:'Worksans', sans-serif;
  --text-font-family:'Roboto', sans-serif;
  --font-size-default: 1rem;
}

/* Define a fonte padrão para toda a aplicação */
body {
  font-family: var(--text-font-family);
  font-size: var(--font-size-default);
}

h1, h2, h3 {
  font-family: var(--title-font-family);
  font-size: calc(var(--font-size-default) * 2);
}